<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ASMAADEVEXPRESS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ASMAADEVEXPRESS.Properties.Settings.Contract_invoiceConnectionString"
      connectionString="Data Source=DESKTOP-ECKVF6T\SQLEXPRESS;Initial Catalog=Contract_invoice;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Contract_invoiceConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-ECKVF6T\SQLEXPRESS;integrated security=SSPI;initial catalog=Contract_invoice" />
    <add name="ASMAADEVEXPRESS.Properties.Settings.Contract_invoiceConnectionString1"
      connectionString="Data Source=DESKTOP-HIJ5RIA\SQLEXPRESS;Initial Catalog=Contract_invoice;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Money Twins</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <ASMAADEVEXPRESS.Properties.Settings>
      <setting name="FullName" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="UserDep" serializeAs="String">
        <value />
      </setting>
      <setting name="UserRole" serializeAs="String">
        <value />
      </setting>
      <setting name="UserID" serializeAs="String">
        <value />
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>أسم المؤسسة يمكنك تغييره من الاعدادات</value>
      </setting>
      <setting name="CompanyDes" serializeAs="String">
        <value>وصف المؤسسة</value>
      </setting>
      <setting name="CompanyLogo" serializeAs="String">
        <value />
      </setting>
      <setting name="Database" serializeAs="String">
        <value>Contract_invoice</value>
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>SQL</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>ASMAAPC\SQLEXPRESS</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </ASMAADEVEXPRESS.Properties.Settings>
  </userSettings>
</configuration>